* {
    margin: 0px;
    font-family: 'Work Sans';
}

/* header style */

.header {
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    height: 1000px;

}

.banner {
    text-align: right;

}

.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.btn-primary {
    position: absolute;
    width: 100px;
    height: 23px;

    top: 599px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    background: #FD6E0A;
    border: 0;
}


/* main style */

.main {
    display: flex;
    justify-content: space-around;
    height: 300px;
}

.main ul {
    list-style: none;
    list-style: url('<i class="fa-solid fa-check"></i>');
    margin-left: 100px;

}

.main-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.main-description {
    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.sub-title1 {
    position: absolute;
    width: 349px;
    height: 26px;
    left: 862px;
    top: 1416px;
}

.sub-title2 {
    position: absolute;
    width: 240px;
    height: 26px;
    left: 862px;
    top: 1450px;
}

.sub-title3 {
    position: absolute;
    width: 306px;
    height: 26px;
    left: 862px;
    top: 1484px;
}

.sub-title4 {
    position: absolute;
    width: 349px;
    height: 26px;
    left: 862px;
    top: 1518px;
}

.sub-title5 {
    position: absolute;
    width: 247px;
    height: 26px;
    left: 862px;
    top: 1552px;
}


/* main style 2 */

.about {
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 230px;
    top: 1792.3px;

}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}

/* main style 3 */

.extra-image {
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2216.3px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
    background-image: url('../images/watch.png');

}

.section2 {
    margin-right: 250px;
}

.extra-description {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-left: 50px;
}

.btn-primary2{
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #F15B22;
background-color: white;
padding: 20px;
border-radius: 5px;
border: 0;
margin-left: 50px;
margin-top: 15px;
}